.search-results {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.search-results li {
    padding: 8px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}
